# Datasets & Processed Data
BCS/**
processed/**
tuning_dir/**

# Models
*.keras
*.h5
*.pickle
*.npy

# Airflow & MLflow
airflow.db
mlflow.db
mlruns/
logs/
*.log

# Python & Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
model_output.ipynb

# IDEs
.vscode/
.idea/
.DS_Store
